# Terraform 캐시/빌드 디렉토리
.terraform/

# Terraform 상태파일 (민감 정보 포함됨)
terraform.tfstate
terraform.tfstate.backup

# Terraform Lock 파일 (선택적 무시)
.terraform.lock.hcl

# 기타
crash.log
*.log
*.bak
*.tmp

# 변수 파일
*.tfvars

# 키
test-key.pem

# 생성 파일
**/.terraform/
**/.terraform.*
**/terraform.tfstate*

# 명령어 파일
cmd