[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ~/Desktop/ct/common/test-key.pem
host_key_checking = False
timeout = 30
forks = 10

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no